{% if comments.items %}
<table class="table table-sm table-responsive table-borderless table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Artigo</th>
      <th scope="col">Autor</th>
      <th scope="col">Situação</th>
      <th scope="col">Criado</th>
      <th scope="col">Ação</th>
    </tr>
  </thead>
  <tbody>
  {% for comment in comments %}
    <tr>
      <td>{{ comment.id }}</td>
      <td>{{ comment.article.title }}</td>
      <td>{{ comment.user.username }}</td>
      <td>{{ comment.comment_situation.name }}</td>
      <td class="created">{{ comment.created }}</td>
      <td>
        <div class="dropdown">
          <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-expanded="false">
            Ação
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <a class="dropdown-item" role="button" data-toggle="modal" data-target="#modalViewComment" data-view-comment-id="{{ comment.id }}">Visualizar</a>
            </li>
            <li>
              <a class="dropdown-item" role="button" data-toggle="modal" data-target="#modalEditComment" data-edit-comment-id="{{ comment.id }}">Editar</a>
            </li>
            <li>
              <a class="dropdown-item" role="button" data-toggle="modal" data-target="#modalDeleteComment" data-delete-comment-id="{{ comment.id }}">Apagar</a>
            </li>
          </ul>
        </div>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<nav aria-label="paginacao_comments">
  <ul class="pagination pagination-sm justify-content-center">
    <li class="page-item{% if not page_prev %} disabled{% endif %}">
      <a data-page-prev="{{ page_prev }}" class="page-link" role="button">Anterior</a>
    </li>
    
    {% for page_num in comments.iter_pages(left_edge=2, right_edge=2, left_current=2, right_current=2) %}
      {% if page_num %}
        {% if page_num == comments.page %}
          <li class="page-item active" aria-current="page">
            <span class="page-link">{{ page_num }}</span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" data-page-prev="{{ url_for('comments.dashboard_articles_comments_render', page=page_num) }}" role="button">{{ page_num }}</a>
          </li>
        {% endif %}
      {% else %}
        <span>...</span>
      {% endif %}
    {% endfor %}
    
    <li class="page-item{% if not page_next %} disabled{% endif %}">
      <a data-page-next="{{ page_next }}" class="page-link" role="button">Próximo</a>
    </li>
  </ul>
</nav>
{% else %}
<p class="lead">Nenhum comentário disponível!</p>
{% endif %}