{% from "bootstrap4/utils.html" import render_messages, render_static %}

{% extends "base.html" %}

{% block sidebar %}
<div class="d-flex header-sidebar">
  <nav class="sidebar">
    <!-- INICIO DO MENU -->
    <ul class="list-unstyled">
      <li>
        <a href="{{ url_for('admin.admin') }}">
          <i class="fas fa-gauge"></i> Painel
        </a>
      </li>
      
      {% if current_user.is_administrator() %}
      <li>
        <a 
          href="#submenu1" 
          data-toggle="collapse" 
          aria-expanded="false" 
          class="dropdown-toggle">
          <i class="fas fa-user"></i> Usuário
        </a>
        
        <!-- INICIO DO SUBMENU1 -->
        <ul id="submenu1" class="list-unstyled collapse">
          <li class="{% if request.path == url_for('admin.admin_users') %}active{% endif %}">
            <a href="{{ url_for('admin.admin_users') }}">
              <i class="fas fa-list"></i> Lista de Usuários
            </a>
          </li>
  
          <li class="{% if request.path == url_for('admin.admin_users_situations') %}active{% endif %}">
            <a href="{{ url_for('admin.admin_users_situations') }}">
              <i class="fas fa-user-clock"></i> Situações de Usuários
            </a>
          </li>
          
          <li class="{% if request.path == url_for('admin.admin_users_roles') %}active{% endif %}">
            <a href="{{ url_for('admin.admin_users_roles') }}">
              <i class="fas fa-user-shield"></i> Cargos e Permissões
            </a>
          </li>
          
          <li class="{% if request.path == url_for('admin.admin_profiles') %}active{% endif %}">
            <a href="{{ url_for('admin.admin_profiles') }}">
              <i class="fas fa-user-pen"></i> Perfis
            </a>
        
          </li>
          
          <li class="{#{% if request.path == url_for('admin.admin_users_roles') %}active{% endif %}#}">
            <a href="{{ url_for('admin.admin_users_roles') }}">
              <i class="fas fa-share-alt"></i> Redes Sociais
            </a>
        
          </li>
        </ul>
        <!-- FIM DO SUBMENU1 -->
      </li>
      {% endif %}
      
      <li>
        <a 
          href="#submenu3" 
          data-toggle="collapse" 
          aria-expanded="false" 
          class="dropdown-toggle">
          <i class="fa-solid fa-file-lines"></i> Conteúdo
        </a>
        
        <!-- INICIO DO SUBMENU3 -->
        <ul id="submenu3" class="list-unstyled collapse">
          <li class="{#{% if request.path == url_for('admin.admin_suggestions') %}active{% endif %}#}">
            <a href="{#{{ url_for('suggestions.dashboard_suggestions') }}#}">
              <i class="fas fa-lightbulb"></i> Sugestões
            </a>
          </li>
          
          <li class="{#{% if request.path == url_for('admin.admin_suggestions_situations') %}active{% endif %}#}">
            <a href="{#{{ url_for('suggestions.dashboard_suggestions_sitiations') }}#}">
              <i class="fas fa-envelope"></i> Mensagens
            </a>
          </li>
          
          <li class="{#{% if request.path == url_for('admin.admin_suggestions_situations') %}active{% endif %}#}">
            <a href="{#{{ url_for('suggestions.dashboard_suggestions_sitiations') }}#}">
              <i class="fas fa-thumbs-up"></i> Likes
            </a>
          </li>
          
          <li class="{#{% if request.path == url_for('admin.admin_suggestions_situations') %}active{% endif %}#}">
            <a href="{#{{ url_for('suggestions.dashboard_suggestions_sitiations') }}#}">
              <i class="fas fa-bell"></i> Notificações
            </a>
          </li>
        </ul>
        <!-- FIM DO SUBMENU -->
      </li>
      
      <li>
        <a 
          href="#submenu4" 
          data-toggle="collapse" 
          aria-expanded="false" 
          class="dropdown-toggle">
          <i class="fas fa-gear"></i> Configurações
        </a>
        
      <li>
        <a href="{{ url_for('auth.logout') }}">
          <i class="fas fa-right-from-bracket"></i> Sair
        </a>
      </li>
    </ul>
    <!-- FIM DO MENU -->
  </nav>

  <div class="content p-1 flex-grow-1">
    <div class="list-group-item">
      <div id="dashboard-content">
        {% block dashboard_content %}{% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block custom_css %}
  {{ render_static('css', 'css/admin.css', local=True) }}
{% endblock %}

{% block custom_js %}
  {{ render_static('js', 'js/admin.js', local=True) }}
{% endblock %}