{% if social_medias.items %}
<div class="table-responsive">
  <table class="table table-borderless table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Link</th>
        <th scope="col">Icone</th>
        <th scope="col">Situação</th>
        <th scope="col">Criado</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
    {% for sm in social_medias %}
      <tr>
        <td>{{ sm.id }}</td>
        <td>{{ sm.name }}</td>
        <td>{{ sm.url[0:10] }}</td>
        <td>{{ sm.icon }}</td>
        <td>{{ sm.social_media_situation.name }}</td>
        <td class="created">{{ sm.created }}</td>
        <td>
          <div class="dropdown">
            <button 
              class="btn btn-sm btn-primary dropdown-toggle" 
              type="button" 
              id="dropdownMenuButton1" 
              data-toggle="dropdown"
              aria-expanded="false">
              Ação
            </button>
            
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" role="button" data-toggle="modal" data-target="#modalViewSm" data-view-sm-id="{{ sm.id }}">Visualizar</a>
              </li>
              <li>
                <a class="dropdown-item" role="button" data-toggle="modal" data-target="#modalEditSm" data-edit-sm-id="{{ sm.id }}">Editar</a>
              </li>
              <li>
                <a class="dropdown-item" role="button" data-toggle="modal" data-target="#modalDeleteSm" data-delete-sm-id="{{ sm.id }}">Excluir</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      {#{% endif %}#}
    {% endfor %}
    </tbody>
  </table>
</div>

<nav class="mt-5" aria-label="paginacao_sms">
  <ul class="pagination pagination-sm justify-content-center">
    <li class="page-item{% if not page_prev %} disabled{% endif %}">
      <a data-page-prev="{{ page_prev }}" class="page-link" role="button">Anterior</a>
    </li>
    
    {% for page_num in social_medias.iter_pages(left_edge=2, right_edge=2, left_current=2, right_current=2) %}
      {% if page_num %}
        {% if page_num == social_medias.page %}
          <li class="page-item active" aria-current="page">
            <span class="page-link">{{ page_num }}</span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" data-page-prev="{{ url_for('admin.admin_users_profiles_social_medias_render', page=page_num) }}" role="button">{{ page_num }}</a>
          </li>
        {% endif %}
      {% else %}
        <span>...</span>
      {% endif %}
    {% endfor %}
    
    <li class="page-item{% if not page_next %} disabled{% endif %}">
      <a data-page-next="{{ page_next }}" class="page-link" role="button">Próximo</a>
    </li>
  </ul>
</nav>

{% else %}
<p class="lead">Nenhuma rede social disponível!</p>
{% endif %}