{% if roles.items %}
<div class="table-responsive">
  <table class="table table-borderless table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col" class="text-center">Qtd de usuários</th>
        <th scope="col">Descricão</th>
        <th scope="col">Criado</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
    {% for role in roles %}
      <tr>
        <td>{{ role.id }}</td>
        <td>{{ role.name }}</td>
        <td class="text-center">{{ role.user_count }}</td>
        <td>{{ role.description[0:30] }}...</td>
        <td class="created">{{ role.created }}</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-expanded="false">
              Ação
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" role="button" data-toggle="modal" data-target="#modalViewRoleUser" data-view-role-user-id="{{ role.id }}">Visualizar</a>
              </li>
              <li>
                <a class="dropdown-item" role="button" data-toggle="modal" data-target="#modalEditRoleUser" data-edit-role-user-id="{{ role.id }}">Editar</a>
              </li>
              <li>
                <a class="dropdown-item" role="button" data-toggle="modal" data-target="#modalDeleteRoleUser" data-delete-role-user-id="{{ role.id }}">Apagar</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<nav class="mt-5" aria-label="paginacao_roles_users">
  <ul class="pagination pagination-sm justify-content-center">
    <li class="page-item{% if not page_prev %} disabled{% endif %}">
      <a data-page-prev="{{ page_prev }}" class="page-link" role="button">Anterior</a>
    </li>
    
    {% for page_num in roles.iter_pages(left_edge=2, right_edge=2, left_current=2, right_current=2) %}
      {% if page_num %}
        {% if page_num == roles.page %}
          <li class="page-item active" aria-current="page">
            <span class="page-link">{{ page_num }}</span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" data-page-prev="{{ url_for('admin.admin_users_roles_render', page=page_num) }}" role="button">{{ page_num }}</a>
          </li>
        {% endif %}
      {% else %}
        <span>...</span>
      {% endif %}
    {% endfor %}
    
    <li class="page-item{% if not page_next %} disabled{% endif %}">
      <a data-page-next="{{ page_next }}" class="page-link" role="button">Próximo</a>
    </li>
  </ul>
</nav>

{% else %}
<p class="lead">Nenhum cargo de usuário disponível!</p>
{% endif %}