{% if situations %}
<p class="lead">Total encontrado: {{ situations|length }}</p>

<div class="table-responsive">
  <table class="table table-borderless table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col" class="text-center">Qtd de usuários</th>
        <th scope="col">Descricão</th>
        <th scope="col">Criado</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
    {% for situation in situations %}
      <tr>
        <td>{{ situation.id }}</td>
        <td>{{ situation.name }}</td>
        <td class="text-center">{{ situation.user_count }}</td>
        <td>{{ situation.description[0:30] }}...</td>
        <td class="created">{{ situation.created }}</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-expanded="false">
              Ação
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" role="button" data-toggle="modal" data-target="#modalViewSituationUser" data-view-situation-user-id="{{ situation.id }}">Visualizar</a>role
              </li>
              <li>
                <a class="dropdown-item" role="button" data-toggle="modal" data-target="#modalEditSituationUser" data-edit-situation-user-id="{{ situation.id }}">Editar</a>
              </li>
              <li>
                <a class="dropdown-item" role="button" data-toggle="modal" data-target="#modalDeleteSituationUser" data-delete-situation-user-id="{{ situation.id }}">Apagar</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% else %}
<p class="lead">Nenhuma situação de usuário disponível!</p>
{% endif %}