{% from "bootstrap4/utils.html" import render_messages, render_static %}

{% extends "sidebar.html" %}

{% block dashboard_content %}

<div class="d-flex align-items-center">
  <div class="mr-auto p-2">
    <h2 class="display-4 titulo">Papéis</h2>
  </div>
  <div class="p-2">
    <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modalAddRoleUser">
      Adicionar
    </button>
  </div>
</div>

<!-- Area de alertas personalizados -->
<div id="alert" role="alert"></div> 

<!-- Area de pesquisa interna -->
<form class="d-flex mb-3 btn-group-sm" id="formSearchRoleUser">
  <input class="form-control me-2" placeholder="Buscar por um dado de cargo" name="word" id="word" aria-label="Search">
</form>

<!-- Conteúdo da tabela e paginação -->
<div id="roles"></div>

<!-- MODAIS: -->

<!-- Modal (Adiciona um role do tipo usuário) -->
<div class="modal fade" id="modalAddRoleUser" tabindex="-1" aria-labelledby="modalAddRoleUserLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAddRoleUserLabel">Adicionar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="row g-3" id="formAddRoleUser">
          <div class="form-row p-3">
            <div class="form-group col-12">
              <label for="name" class="form-label">Nome</label>
              <input type="text" class="form-control" id="name" name="name" required>
            </div>
            
            <div class="form-group col-12">
              <label for="description" class="form-label">Descrição</label>
              <input type="text" class="form-control" id="description" name="description" required>
            </div>
            
            <div class="form-group col-12">
              <label for="role_situation_id" class="form-label">Situação</label>
              <select id="role_situation_id" name="role_situation_id" class="form-control" required>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button id="btnAdd" type="submit" class="btn btn-success" form="formAddRoleUser">Adicionar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal (Visualiza um role do tipo usuário) -->
<div class="modal fade" id="modalViewRoleUser" tabindex="-1" aria-labelledby="modalViewRoleUserLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalViewRoleUserLabel">Visualizar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="spinner" class="text-center">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Carregando...</span>
          </div>
        </div>
        <div id="modal-content" class="d-none"></div>
      </div>
      <div class="modal-footer">
        <button id="save" type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal (Edita um role do tipo usuário) -->
<div class="modal fade" id="modalEditRoleUser" tabindex="-1" aria-labelledby="modalEditRoleUserLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditRoleUserLabel">Editar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="row g-3" id="formEditRoleUser" method="POST">
          <div class="form-row p-3">
            <div class="form-group col-12">
              <label for="name" class="form-label">Nome</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>
            
            <div class="form-group col-12">
              <label for="description" class="form-label">Descrição</label>
              <input type="text" class="form-control" id="description" name="description">
            </div>
            
            <div class="form-group col-12">
              <label for="role_situation_id" class="form-label">Situação</label>
              <select id="role_situation_id" name="role_situation_id" class="form-control" required>
              </select>
            </div>
            
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button id="btnEdit" type="submit" data-save class="btn btn-warning" form="formEditRoleUser">Editar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal (Apaga um role do tipo usuário) -->
<div class="modal fade" id="modalDeleteRoleUser" tabindex="-1" aria-labelledby="modalDeleteRoleUserLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalDeleteRoleUserLabel">APAGAR ÍTEM</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja apagar este ítem?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" id="btnConfirm">Confirmar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block custom_js %}
  {{ super() }}
  {{ render_static("js", "js/roles_users.js") }}
  {{ render_static("js", "js/formatNow.js") }}
  {{ render_static("js", "js/button.js") }}
  {{ render_static("js", "js/alertt.js") }}
{% endblock %}