<style>
  .account-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007BFF;
    color: #fff !important;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .account-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
</style>

<p>Olá {{ user.username }}</p>

<p>Obrigado por se cadastrar! Confirme seu endereço de e-mail clicando no link abaixo:</p>

<p>
  <a class="account-button" href="{{ url_for('auth.confirm_account', token=token, _external=True) }}">Confirmar</a>
</p>

<p>Alternativamente, você pode colar o seguinte link na barra de endereço do seu navegador:</p>

<p>{{ url_for('auth.confirm_account', token=token, _external=True) }}</p>

<p>Se você não se cadastrou, pode ignorar este e-mail.</p>

<p>Link válido por 10 minutos, Depois que o link expirar, deverá solicitar outro para confirmar a sua conta.</p>

<p>Sinceramente, A equipe Olive</p>