<form id="uploadFile" class="col-12 col-xl-8 group-two">
  <h5 class="h5">Enviar sua foto de Perfil</h5>

  <div class="row">
    <span class="col-md-6 mx-3" id="photo_message"></span><br>
  </div>
  
  <div class="row">
    <div class="col-12 col-xl-8">
      <div class="profile-image" id="card_image">
        <i class="fas fa-fw fa-user"></i>
        {% set image_url = current_user.profile.image_url %}
        
        {% if image_url %} 
          {% set image_url = url_for('static', filename=image_url) %}
          {% else %}
            {% set image_url = 'https://i.imgur.com/uIgDDDd.jpg' %}
        {% endif %}
      
        <img src="{{ image_url }}" style="{% if not current_user.profile.image_url %}display:none;{% endif %}" id="croppedImagePreview">
      </div>
      
      <input type="file" style="display:none;" name="uploadImage" id="uploadImage" accept="image/jpeg, image/png">
      
      <div class="d-flex justify-content-center profile-buttons">
        <button data-user-id="{{ current_user.id }}" type="button" class="btn" id="uploadButton" disabled>Enviar</button>
        <button data-user-id="{{ current_user.id }}" type="button" class="btn" id="deletePreviewButton" {% if not current_user.profile.image_url %}disabled{% endif %}>Excluir</button>
      </div>
      
      <p class="text-center text-black-50">Nota: Tamanho máximo 250px x 250px</p>
    </div>

  </div>
</form>
