<form 
  id="FormPassword" 
  data-form-id="{{ current_user.id }}" 
  class="col-12 col-xl-8 group-three" 
  method="POST">
  
  <!-- Anti-autofill para Firefox/Chrome teimosos -->
  <input type="text" style="display:none" name="fake_login">
  <input type="password" style="display:none" name="fake_password">
  
  <h5 class="h5">Alterar senha</h5>
  
  <div class="row">
    <span class="col-md-6 mx-3" id="password_message"></span>
  </div>
  
  <div class="row">
    <div class="form-group col-md-6">
      <label for="current_password">Senha atual <span class="text-danger"><strong>*</strong></span></label>
      <input 
        type="password"
        class="form-control" 
        id="current_password"
        name="current_password" 
        required>
    </div>
    
    <div class="form-group col-md-6">
      <label for="password">Nova senha <span class="text-danger"><strong>*</strong></span></label>
      <input 
        type="password" 
        class="form-control" 
        id="password"
        name="password" 
        required>
    </div>
    
    <div class="form-group col-md-12">
      <label for="password2">Confirme a senha <span class="text-danger"><strong>*</strong></span></label>
      <input 
        type="password"
        class="form-control" 
        id="password2" 
        name="password2" 
        required>
    </div>
  </div>
  
  <button id="btn-edit" class="btn btn-warning" type="submit" form="FormPassword">Atualizar</button>
</form>