{% extends "sidebar.html" %}

{% block dashboard_content %}
<div class="d-flex mb-4">
  <div class="me-auto">
    <h2 class="display-4 titulo">Dashboard</h2>
  </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 text-center">
  <div class="col mb-4">
    <div class="card text-white bg-primary h-100">
      <div class="card-body">
        <i class="fa-solid fa-users fa-3x"></i>
        <h6 class="card-title mt-3">Usuários</h6>
        <h2 class="lead">{{ total_users }}</h2>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card text-white bg-secondary h-100">
      <div class="card-body">
        <i class="fa-solid fa-key fa-3x"></i>
        <h6 class="card-title mt-3">Níveis de Acesso</h6>
        <h2 class="lead">{{ total_roles }}</h2>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card text-white bg-dark h-100">
      <div class="card-body">
        <i class="fa-solid fa-comment fa-3x"></i>
        <h6 class="card-title mt-3">Comentários</h6>
        <h2 class="lead">{{ total_comments }}</h2>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card text-white bg-danger h-100">
      <div class="card-body">
        <i class="fa-solid fa-square-check fa-3x"></i>
        <h6 class="card-title mt-3">Situações</h6>
        <h2 class="lead">{{ total_situations }}</h2>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card text-white bg-warning h-100">
      <div class="card-body">
        <i class="fa-solid fa-table-list fa-3x"></i>
        <h6 class="card-title mt-3">Artigos</h6>
        <h2 class="lead">{{ total_articles }}</h2>
      </div>
    </div>
  </div>
</div>
{% endblock %}